.dogs-listing.ng-enter,
.dogs-listing.ng-leave,
.dogs-listing.ng-move {
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
}

.dogs-listing.ng-enter,
.dogs-listing.ng-leave,
.dogs-listing.ng-move {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.dogs-listing.ng-move.ng-move-active,
.dogs-listing.ng-leave.ng-leave-active,
.dogs-listing.ng-enter.ng-enter-active {
    opacity: 1;
    height: 120px;
}

.dogs-listing.ng-leave {
    opacity: 1;
    overflow: hidden;
}

.dogs-listing.ng-leave.ng-leave-active {
    opacity: 0;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}
