/* Header */
#header .title{
    font-size: 3em;
    text-align: center;
    height: 125px;
}
#header .subtitle{
    text-align: left;
    font-size: 1.3em;
    padding-top: 40px;
    vertical-align: bottom;
    color: #909090;
}

/* Dogs */
div.dogs-border {
    border: 1px solid #bbbbbb;
    padding: 1em;
}

div.row {
    padding-bottom: 1em;
}

.dogs-listing .dogs-image img{
    /* max-height:75%; */
}

.adoption-ready {
    text-align: center;
}

.adoption-ready button{
    font-size: 0.7em !important;
    padding: 0.3em !important;
}

/* Controls */
.age-control .age-slider {
    width: 200px;
}
