<!doctype html>
<html ng-app="wags">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/tabletop.js"></script>
    <script type="text/javascript" src='js/sheetsee.js'></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/main.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


    <link rel="stylesheet" href="css/jquery-ui.css">

    <script type="text/ng-template" id="dogDetail">
      <div class="modal-header">
        <h3 class="modal-title">{{dog.name}}</h3>
      </div>
      <div class="modal-body">
        <img style="max-width:100%; max-height:50%;" class="pure-img" ng-src="{{dog.photourl}}" />
        <div class="full-description">
          {{dog.description}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="$dismiss()">Close</button>
      </div>
    </script>

    <!--<![endif]-->
  </head>
  <body ng-controller="WagsCtrl" class="container-fluid">
    <div id="header" class="row">
      <div class="header-row col-xs-6">
        <div class="title">
          <h1>Wags N Licks</h1>
        </div>
      </div>
      <div class="header-row col-xs-6">
        <div class="subtitle">
          <h2>Dog Adoption List</h2>
        </div>
        <div class="placeholder">
        </div>
      </div>
    </div>

    <div id="main" class="row">
      <div id="content" class="col-xs-8">
        <div id="dogs">
          <div ng-repeat="dog in dogs | filterAttrib:{'keepList':filterByType.breed, 'name': 'breed'} |  filterAttrib:{'keepList':filterByType.size, 'name': 'size'}  | filterAttrib:{'keepList':filterByType.sex, 'name': 'sex'} | filterAge:age | filter:querydesc"
               class="dogs-listing pure-g">
            <div class="dog-image pure-u-1-5">
              <a href="" ng-click="open(dog)">
                <img style="max-width:200px; max-height:200px;" class="pure-img" ng-src="{{dog.photourl}}" />
              </a>
            </div>
            <div class="dog-details pure-u-4-5">
              <div class="dog-name pure-u-1-5">
                  <h3><a href="" ng-click="open(dog)">{{dog.name}}</a></h3>
              </div>
              <div class="dog-attributes pure-u-3-5">
                <div class="sex">
                  {{dog.sex}}
                </div>
                <div class="breed">
                  {{dog.breed}}
                </div>
                <div class="weight">
                  {{dog.weight}}
                </div>
                <div class="description">
                  {{dog.description | cut:true:20 }}
                </div>
                <div class="status">
                  {{dog.status}}
                </div>
                <div class="sex">
                  {{dog.sex}}
                </div>
                <div class="intakedate">
                  {{dog.intakedate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="side" class="col-xs-4">
        <div class="form-group">
          <label for="searchField">Search</label>
          <input id="searchField" class="form-control" ng-model="querydesc">
        </div>
        <div class="checkbox">
          Size
          <label ng-repeat="size in filterByType.size" class="checkbox-inline">
            <input type="checkbox" ng-model="size.value"/> {{size.name}}
          </label>
        <div>
          Breed
          <div class="checkbox">
            <label ng-repeat="breed in filterByType.breed" class="checkbox-inline">
              <input type="checkbox" ng-model="breed.value"/> {{breed.name}}
            </label>
          </div>
        </div>
        <div>
          Sex
          <div class="checkbox">
            <label ng-repeat="sex in filterByType.sex" class="checkbox-inline">
              <input type="checkbox" ng-model="sex.value"/> {{sex.name}}
            </label>
          </div>
        </div>
        <div class="age-control">
          Age
          <div ui-slider="{range: true}" min="1" max="18" step="1" ng-model="age" class="age-slider"></div>
          Selected {{age[0]}} - {{age[1]}}
        </div>
      </div>

    </div>
  </body>
</html>
