<!doctype html>
<html ng-app="rescueMe">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/tabletop.js"></script>
    <script type="text/javascript" src='js/sheetsee.js'></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <script type="text/javascript" src="js/slider.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">

    <script type="text/ng-template" id="dogDetail">
      <div class="modal-header">
        <h3 class="modal-title">{{dog.name | uppercase}}</h3>
      </div>
      <div class="modal-body">
        <img style="max-width:100%; max-height:50%;" class="pure-img" ng-src="{{dog.photourl}}" />
        <div class="full-description">
          {{dog.description}}
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="$dismiss()">Close</button>
      </div>
    </script>

  </head>
  <body ng-controller="RescueMeCtrl" class="container-fluid">
    <div id="header" class="row">
      <div class="header-row col-xs-5">
        <div class="title">
          <img src="css/images/rescueme.png" alt="Rescue Me!"/>
          <h1 class="text-hide">Rescue Me!</h1>
        </div>
      </div>
      <div class="header-row col-xs-7">
        <div class="subtitle">
          <h2>Dog Adoption List</h2>
        </div>
        <div class="placeholder">
        </div>
      </div>
    </div>

    <div id="main" class="row">

      <!-- Display Area -->
      <div id="content" class="col-xs-8">
        <div ng-repeat="dog in dogs |
             filterAttrib:{'keepList':filterByType.breed, 'name': 'breed'} |
             filterAttrib:{'keepList':filterByType.size, 'name': 'size'}  |
             filterAttrib:{'keepList':filterByType.sex, 'name': 'sex'} |
             filterAge:age |
             filter:querydesc">
          <div ng-class="{row: ($index + 1) % 2 == 0}">
            <div class="dogs-listing col-xs-6">

              <div class="dogs-border">

                <div class="dogs-image">
                  <a href="" ng-click="open(dog)">
                    <img class="img-responsive" ng-src="{{dog.photourl}}" />
                  </a>
                </div>

                <div class="dog-details">
                  <div class="dog-name">
                    <h3><a href="" ng-click="open(dog)">{{dog.name}}</a></h3>
                  </div>

                  <div class="specs">
                    <span class="small">Sex</span> <span class="sex"><strong>{{dog.sex | uppercase}}</strong></span>
                    <span class="small">Breed</span> <span class="breed"><strong>{{dog.breed}}</strong></span>
                    <span class="small">Weight</span> <span class="weight"><strong>{{dog.weight}}</strong></span>
                  </div>

                  <div class="intakedate">{{dog.intakedate}}</div>

                  <!-- <div class="status">
                  <div class="adoption-ready" ng-show="dog.adoptionready === 'yes'">
                  <button type="button" class="btn btn-success">Adoption Ready!</button>
                  </div>
                  </div> -->

                  <div class="description"><p>{{dog.description | cut:true:50:'...' }}</p></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Selection Toolbar -->
      <div id="side" class="col-xs-4">
        <div class="form-group">
          <label for="searchField">Search</label>
          <input id="searchField" class="form-control" ng-model="querydesc">
        </div>
        <div class="form-group">
          <label for="sizeFilter">Size</label>
            <div id="sizeFilter" class="checkbox">
              <label ng-repeat="size in filterByType.size" class="checkbox-inline">
                <input type="checkbox" ng-model="size.value"/> {{size.name | lowercase}}
              </label>
            </div>
        <div class="form-group">
          <label for="breedFilter">Breed</label>
          <div id="breedFilter" class="checkbox">
            <label ng-repeat="breed in filterByType.breed" class="checkbox-inline">
              <input type="checkbox" ng-model="breed.value"/> {{breed.name | lowercase}}
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="sexFilter">Sex</label>
          <div id="sexFilter" class="checkbox">
            <label ng-repeat="sex in filterByType.sex" class="checkbox-inline">
              <input type="checkbox" ng-model="sex.value"/> {{sex.name | uppercase}}
            </label>
          </div>
        </div>
        <div class="age-control form-group">
          <label for="ageFilter">Age</label>
          <div ui-slider="{range: true}"
               min="1"
               max="18"
               step="1"
               ng-model="age"
               id="ageFilter"
               class="age-slider"></div>
          <small>Currently Selected: {{age[0]}} - {{age[1]}}</small>
        </div>
      </div>

    </div>
  </body>
</html>
