<!doctype html>
<html ng-app="wags">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/tabletop.js"></script>
    <script type="text/javascript" src='js/sheetsee.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.18/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.js"></script>
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->
  </head>
  <body ng-controller="WagsCtrl">
    <div id="main">
      <div id="header" class="pure-g">
        <div class="header-row pure-u-2-5">
          <div class="title">
            Wags N Licks
          </div>
        </div>
        <div class="header-row pure-u-3-5">
          <div class="subtitle">
            Dog Adoption List
          </div>
          <div class="placeholder">
          </div>
        </div>
      </div>
      <div id="content" class="pure-g">
        <div id="dogs" class="pure-u-3-5">
          <div ng-repeat="dog in dogs | filterAttrib:{'keepList':filterByType.breed, 'name': 'breed'} |  filterAttrib:{'keepList':filterByType.size, 'name': 'size'}  | filterAttrib:{'keepList':filterByType.sex, 'name': 'sex'} | filter:querydesc" class="dogs-listing pure-g">
            <div class="dog-image pure-u-1-5">
              <img class="pure-img" ng-src="{{dog.photourl}}" />
            </div>
            <div class="dog-name pure-u-1-5">
              {{dog.name}}
            </div>
            <div class="dog-attributes pure-u-3-5">
              {{dog.sex}} {{dog.breed}} {{dog.weight}}
              {{dog.description}} {{dog.medicalissues}} {{dog.status}} {{dog.intakedate}}
            </div>
          </div>
        </div>
        <div id="side" class="pure-u-2-5">
          Search: <input ng-model="querydesc">

          <div>
            Size:
            <div ng-repeat="size in filterByType.size">
              <input type="checkbox" ng-model="size.value"/> {{size.name}}
            </div>
          </div>
          <div>
            Breed:
            <div ng-repeat="breed in filterByType.breed">
              <input type="checkbox" ng-model="breed.value"/> {{breed.name}}
            </div>
          </div>
          <div>
            Sex:
            <div ng-repeat="sex in filterByType.sex">
              <input type="checkbox" ng-model="sex.value"/> {{sex.name}}
            </div>
          </div>

        </div>
      </div>
    </div>
  <script type="text/javascript">
   angular.module('wags', ['ngAnimate']).controller('WagsCtrl', ['$scope', function($scope) {
     $scope.dogs = [];
     $scope.dogBreeds = [];
     $scope.filterByType = {
       breed: [],
       size: [],
       sex: []
     }

     function getFilterTypes( data, filterObj) {
       if(!data) return;

       /**
        * This loop is responsible for a lot (building selection list),
       * de-duping selections. It could probably be optimized.
       */
       for( var i = 0; i < data.length; i++){
         /**
          * This is an individual item, we will be pulling values from here
          * to build the selection options from
          */
         var item = data[i];

         for( var type in item){
           /**
            * The type here is a selection category. It needs to exist in the
            * filterObj object to get recognized.
            */
           if( item.hasOwnProperty(type) && filterObj[type] !== undefined){
             var feature = {name: data[i][type], value: true};

             /**
              * Here we de-dupe the filter options so we don't get
              * dupes in the list
              */
             var match = false;
             for( var x = 0; x < filterObj[type].length; x++){
               if( filterObj[type][x].name === feature.name) {
                 match = true;
               }
             }

             /* don't make dupes! */
             if( !match) {
               filterObj[type].push( feature);
             }
           }
         }
       }
     }

     function loadDogs(data) {
       $scope.dogs = data;
       $scope.$apply($scope.dogs);
       $scope.$apply(getFilterTypes( $scope.dogs, $scope.filterByType));
     }

     var URL = "1y-kJ2lehFeMEn4avPAzf1b7RfsYTKL19fsznK8qaP_w";
     Tabletop.init( { key: URL, callback: loadDogs, simpleSheet: true } );

   }]).filter('filterAttrib',function () {
     return function (collection, attrib) {
       /* Note: keep list needs to be de-duped */
       if (collection === null) return collection;

       var newCollection = [];
       var keepList = attrib.keepList;
       var property = attrib.name;

       if (!keepList || !property) return collection;

       for( var k = 0; k < keepList.length; k++) {
         var keep = keepList[k];
         for( var n = 0; n < collection.length; n++){
           var current = collection[n];
           if( keep.value && keep.name === current[property]){
             newCollection.push(current);
           }
         }
       }
       return newCollection;
     }
   });
  </script>
  </body>
</html>
